<!DOCTYPE html>
<html>
  <head>
  	<style>
body {
  background-color: #D8E3E7;
}
p{
text-align: center;}

img.one {
  position: absolute;
  top: 213px;
  left: 80px;
  width: 542px;
  height: 654px;
  border: 0px solid #73AD21;
}

p.one {
  border-style: solid;
  margin: auto;
  border-width: 2px;
  text-align: center;
  height: 100px;
  width: 500px;
  background-color: powderblue;
}
</style>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p class="one">Some text.</p>
    <img class="one" src='../images/singpass_qr_code.png' width="542" height="654"><br>
    <br /><br />
    <a href="/about" id = "Register" class="btn btn-primary">login</a>
  </body>
</html>
