<!DOCTYPE html>
<html>
  <head>
  	<style>
body {
 background-color: #D8E3E7;
  /*background-image: url("../images/secondpage.png");*/
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
}
p{
text-align: center;}

img.one {
  /*display: block;
  margin-left: 80px;
  margin-right: 213px;
  width: 50%;*/
  max-width: 100%;
  position: fixed;
  top: 633px;
  right: 0px; 
  height: 341px;
  width: 864px;
  border: 0px solid #73AD21;
}

img.two {
  /*display: block;
  margin-left: 80px;
  margin-right: 213px;
  width: 50%;*/
  max-width: 100%;
  position: fixed;
  top: 333px;
  right: 0px; 
  height: 541px;
  width: 864px;
  border: 0px solid #73AD21;
}

img.three {
  /*display: block;
  margin-left: 80px;
  margin-right: 213px;
  width: 50%;*/
  max-width: 100%;
  position: fixed;
  top: 0px;
  right: 0px; 
  height: 341px;
  width: 864px;
  border: 0px solid #73AD21;
}

p.one {
  border-style: solid;
  position: absolute;
  top: 350px;
  left: 700px; 
  border-width: 2px;
  text-align: center;
  height: 397px;
  width: 727px;
  background-color: powderblue;
}

p.two{
  position: absolute;
  top: 384px;
  left: 750px;
}
p.three{
  position: absolute;
  top: 474px;
  left: 750px;
  width: 20px;
  height: 20px;
  border: 1px solid #73AD21;
}


input.username {
  width: 10%;
  position: absolute;
  top: 397px;
  left: 832px; 
  border: 0px solid #73AD21;
}

input.password{
  width: 10%;
  position: absolute;
  top: 487px;
  left: 832px; 
  border: 0px solid #73AD21;
}
</style>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href="/about" class="btn btn-primary">login
        <img class="two" src='../images/accoms.jpg'><br>
    </a>
    <img class="three" src='../images/work.jpg'><br>
    <img class="one" src='../images/student.jpg'><br>
    
    <br /><br />

  </body>
</html>
